todo.txt
vcpkg_installed
/compile_flags.txt
/obj
/mangaka.exe
scripts
/shaders/compiled
/assets/chess/screenshot
/assets/chess/README.md
/assets/chess/glTF/*_base_color.jpg
/assets/Mutant Punch_out/Ch03_1001_Diffuse.png
/assets/Mutant Punch_out/Ch03_1001_Normal.png
/assets/Mutant Punch_out/ao_met_rough_Ch03_1001_Glossiness.jpg
/assets/Mutant Punch_out/diffuse.png